.productTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productType {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(16, 170, 2);
    background-color: rgba(218, 165, 32, 0.192);

}